@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-transparent: transparent;
    --color-background: #272727;
    --color-principal: #A105B6;
    --color-searchbar: #92B4A7;
    --color-text: #E1E9D8;
    --color-link: #dcf1ea;
    --color-hover: #6A0377;
    --color-form: #470250;
    --color-boton: #A105B6;
    --color-popupbg: rgba(0, 0, 0, 0.7);
    --color-popup: #470250;
    --color-popupborder: #A105B6;
    --color-popupboton: #A105B6;
    --color-popuptxt: #183A37;
    --color-label: #d547e7;
    --color-input: #e8d5eb;

    scroll-behavior: smooth;
}

html {
    margin: 0 auto;
}

html::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

html::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-principal);
}


body {
    background-image: url(../images/imagen_fondo.jpg);
    font-family: 'Bebas Neue', sans-serif;
    background-color: #140116;
    color: var(--color-text);
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    border: none;
    overflow-x: hidden;
    background-size: cover;
}

body a {
    color: var(--color-text);
}

body a:hover {
    color: var(--color-link);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* HEADER */
.container header {
    background-color: #000000;
    /* background-color: transparent;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.8%;

    width: 100%;
    height: 12vh;

    z-index: 999;
    /* margin-bottom: 3vh; */

}

.link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    min-height: 100%;
    min-width: max-content;
    margin: 0%;
}

.link-logo img {
    object-fit: scale-down;
    align-items: center;
    width: 100%;
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   

}

header form input {
    font: inherit;
    background: rgb(243, 239, 238);
    /*font-weight: bold;*/
    padding-left: 24px;
    background-image: url(../images/buscador.png);
    background-size: 15px;
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 30px;

    padding: 10px 22px 9px 29px;
    font-size: 20px;
    color: rgb(0, 0, 0);

    width: 55%;


    border: 2px solid rgb(161, 5, 182);
    ;
}

.header-user .menu {
    width: 30%;

}

.header-login .menu {
    width: 100%;
}

.header-admin .menu {
    width: 100%;

}

.menu__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 10vh;
    color: var(--color-text);
    gap: 1rem;
    width: 100%;
    height: 100%;

}

.menu__item {
    margin-top: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    color: var(--color-text);
}

.menu__item a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--color-text);
    width: 100%;
}

.menu__item:hover {
    /* background-color: var(--color-text); */
    color: var(--color-principal);

    transition: all .5s;
}

.menu__item a:hover {
    /* background-color: var(--color-text); */
    color: var(--color-principal);

    transition: all .5s;

}

/* MAIN */
.container main {
    background-color: var(--color-transparent);
    color: var(--color-text);
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 88vh;

    z-index: 1;
    
}

/* HERO */
.hero {
    background: linear-gradient(180deg, rgba(20, 0, 24, 0.7) 0%, #300345 100%), url(../images/hero.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.25s ease-out, opacity 0.5s ease-out;

    height: 100vh;
    width: 100%;

    z-index: 10;
}
.hero.hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
}

.hero-texto {
    z-index: 2;
}

.hero-texto > h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    user-select: none;
    cursor: default;
}


.hero-texto > h2 {
    font-size: 3rem;
    user-select: none;
    cursor: default;
}

.titulo-hero {
    color: var(--color-principal);
}

/* MAIN CONTENT */
.showcase {
    overflow: hidden;
}
.main-principal {
    position: relative;

    height: 100vh;
    width: 100%;

    overflow-y: auto;
    z-index: 1;

    margin-top: 100vh;
    transition: margin-top 1s;
}
.main-principal.show {
    margin-top: 0;
}

.main-principal::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

.main-principal::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.main-principal::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-principal);
}

body:not(.logeado) .main-principal {
    margin-top: 90vh; /* Asegura que el contenido principal comience después del hero solo si el usuario no ha iniciado sesión */
}

.movies-containerp {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.0rem;
    padding-left: 3%;
    padding-right: 3%;

    max-height: 80vh;
    width: 100%;

    /*overflow-y: scroll;*/
}

.movies-containerp::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

.movies-containerp::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.movies-containerp::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-principal);
}

.movies-container article {
    margin-top: 2%;
    margin-bottom: 2%;

    width: 100%;
}

.movies-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.movie-tittle {
    flex-direction: column;
}

.movie-tittle .tittle {
    color: var(--color-text);
    padding-left: 2.5%;

    width: 100%;
}

hr {
    position: relative;
    left: -25%;
    border: 2px solid rgb(170, 76, 207);
    margin-bottom: 4rem;

    width: 50%;
}

/* INICIO DE SESION */
.main-form{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 88vh;

    overflow-y: hidden;
}

.article-form {
    display: flex;
    align-items: start;
    justify-content: center;

    width: 85%;
    height: 85%;    
}


.div-form {
    background: transparent;
    color: var(--color-text);
    text-align: center;
    font-size: 1.2rem;
    border: 2px transparent solid;
    border-radius: 5px;
    margin: 0 auto;    

    width: 60%;
}

.formulario-login {
    background: var(--color-form);
    color: var(--color-text);
    border: solid var(--color-principal) 1px;
    border-radius: 2%;
    margin: auto;
    padding: 2%;

    width: 65%;

}

.formulario-login h1 {
    text-align: center;
    margin-bottom: 5%;
}

.formulario-registro h1 {
    text-align: center;
    margin-bottom: 5%;
}

.input-login {
    background: var(--color-form);
    color: var(--color-text);
    border: 1px solid var(--color-principal);
    border-radius: 3%;
    margin-bottom: 5%;
    padding: 3%;

    width: 100%;
}

.input-login:hover {
    border-color: var(--color-hover);
}

.boton-login {
    color: var(--color-text);
    font-size: 2rem;
    border: none;
    /* margin: 16px 0; */
    padding: 1%;

    background-color: rgb(140, 51, 167);
    width: 100%;
}

.boton-login:hover {
    background: var(--color-principal);
}

.link-registro {
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.link-registro:hover {
    color: var(--color-hover);
}

/* POPUPS DE LOGIN */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-popupbg);
    /* Semi-transparent black overlay */
    z-index: 1000;
}

.show {
    display: block;
}

.popup {
    background-color: var(--color-popup);
    color: var(--color-text);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-popupborder);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    padding-bottom: 4%;

    height: max-content;
    width: 50%;

    z-index: 1001;
}

/* Styles for the close button */
.popup-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
}

/* Add styles for the content and buttons inside the pop-up as needed */
.popup-content {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    align-items: center;
    padding: 5%;
}

.descripcion_accion {
    font-size: 1.8rem;
    text-align: start;
    margin-top: 3%;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;

    width: 80%;
}

.popup-buttons form,
.popup-buttons button {
    width: 40%;
}

.popup-buttons button {
    background-color: var(--color-popupboton);
    color: var(--color-text);
}

.popup-buttons button:hover {
    transform: scale(1.1);
}

.popup-buttons form button {
    width: 100%;
    height: 100%;
}

.item {
    margin: 20px;
    font-size: 30px;
}

/* PAGINA DEL PERFIL */
.main-profile {}

.userinfo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    max-height: 80vh;
    min-width: 100vw;

    overflow: hidden;
}

.title-profile {
    color: var(--color-principal);
    text-align: center;
}
.tittle-profile:hover{
    cursor: default;
    user-select: none;
}
.tittle{
    color: var(--color-principal);
    padding-left: 2.5%;
}
.tittle:hover{
    cursor: default;
    user-select: none;
}
.profile-userinfo section,
.profile-userinfo2 section {
    width: 100%;
}

/* Contenedores para la información del perfil de usuario */
.profile-userinfo,
.profile-userinfo2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.25%;

    height: 80vh;
}

/* PRIMER ASIDE */
/* Información de usuario */
.profile-userinfo {
    flex-direction: column;

    margin-bottom: 10vh;

    min-width: 25vw;
    height: 80vh;
}

.userinfo-data aside {
    max-height: 16vh;
}
.my-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2vh;
}

.title-profile {
    background-color: var(--color-transparent);
    max-height: 3vh;
}
.title-profile:hover{
    cursor: default;
    user-select: none;
}
.data-user{
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    min-height: inherit;
    max-height: 20vh;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 50%;
    min-height: inherit;
}

/* Avatar de usuario */
.user-avatar {
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--color-popupborder);
    border-radius: 50%;
    padding: 1.4%;

    width: 12.5vh;
    height: 12.5vh;

    overflow: hidden;
}

.user-avatar img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: none;
    max-height: 25vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Nombre y Username */
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-name,
.info-ussername {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    width: 100%;
    min-height: 50%;
}

.info-name {
    color: var(--color-principal);
    font-size: 2.1rem;
    font-weight: bold;
}

.info-ussername {
    color: var(--color-text);
    font-size: 1.1rem;
}

/* Boton Logout */
.user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 20vh;
}
.user-button div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 10vh;
}

/* .button-logout {
    background-color: var(--color-principal);
    color: var(--color-link);
    padding: 7% 12%;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 19%;
    margin: 0 auto;
} */

.button-logout:hover {
    background-color: rgb(116, 0, 139);
    transform: scale(1.1);
}

/* GENEROS DEL PERFIL */
.userinfo-genres {    
    text-align: center;
    line-height: 6vh;
}

.userinfo-genres:hover {
    cursor: default;
    user-select: none;
}

.user-genres {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    width: 100%;
    line-height: 5vh;
}

.genres-prof {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 23.5vw;
    max-width: 100%;
}

.genres-favorites {
    background-color: var(--color-principal);
    color: var(--color-text);
    border-radius: 5px;
    font-size: 1.4rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;

    width: calc(33% - 1vw);
    height: 5vh;

}
.genres-favorites-empty{
    background-color: var(--color-principal);
    color: var(--color-text);
    border-radius: 5px;
    font-size: 1.4rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;

    width: 50%;
    height: 5vh;
}

/* SOBRE MI */
.userinfo-description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2vh;
    padding: 1.5%;
}

.modifAboutMe {
    width: 100%;
    margin: 0 auto;
}

.description-aboutme {
    color: var(--color-text);
    padding: 1% 5%;
}

textarea {
    font-size: 1.3rem;
    border-radius: 5px;
    background: transparent;
    color: var(--blanco);
    resize: none;

    width: 100%;
}

input[type="submit"] {
    background-color: var(--color-principal);
    color: var(--blanco);
    font-size: 1.5rem;
    border-radius: 5px;

    margin-bottom: 0%;
    margin: 2% auto;
    padding: 1%;

    border: none;
    outline: none;
}

/* SEGUNDO ASIDE */
/* MENU DEL PERFIL */
.profile-userinfo2 {
    flex-direction: column;
    border-left: solid 2px var(--color-principal);
    min-width: 75vw;
    min-height: 85vh;
}

.userinfo2-container {
    display: inherit;
    flex-direction: column;
    min-height: inherit;
    max-height: 80vh;
}

.container-menu {
    display: inherit;
    justify-content: space-evenly;
    flex-direction: row;
    max-height: 3vh;

    z-index: 30;
}

.userinfo2-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3vh;

    z-index: 30;
}
.userinfo2-menu:hover{
    cursor: default;
    user-select: none;
}
.userinfo2-menu-list{    
    font-size: 1rem;
    border-radius: 5px;
    background: transparent;
    text-transform: uppercase;
    color: var(--color-text);

    font-weight: 700;
    gap: 1rem;

    display: inherit;

    width: 100%;
}
.userinfo2-menu-list:hover{
    cursor: default;
    user-select: none;
}
.userinfo2-menu-item {
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    border: solid 1.5px var(--color-principal);
    position: relative;
    height: 3vh;
    width: 100%;

    color: var(--color-text);
}
.userinfo2-menu-item:hover{
    cursor: default;
    user-select: none;
}
.userinfo2-menu-item:hover {
    /* background-color: var(--color-text); */
    color: var(--color-principal);

    transition: all .5s;
}

.userinfo2-menu-list input[type="radio"] {
    display: none;
}

.userinfo2-menu-list label {
    font-size: 1.5rem;
    line-height: 3vh;
    display: block;

    width: 100%;
    height: inherit;

    cursor: pointer;
}

.userinfo2-menu-list input:checked+label {
    background-color: var(--color-principal);
    color: var(--color-text);
}

.option {
    display: none;
    margin-top: 20px;
}

.option.active {
    display: block;
}

/* PANTALLAS DEL MENU DEL PERFIL */
.userinfo2-screen {
    position: relative;
    width: 100%;
    max-height: 80vh;
}

.userinfo2-movies,
.userinfo2-friends,
.userinfo2-discover {
    position: absolute;
    top: -1vh;
    left: 0;
    padding: 1.5%;

    width: 100%;
    min-height: 100%;
    max-height: 75vh;

    z-index: 300;
    overflow: auto;
}

.option {
    display: none;
}

.option>section[class="movies-container"] {
    min-height: inherit;
}

.option>section[class="friends-container"] {
    min-height: inherit;
}

.option>section[class="discovers-container"] {
    min-height: inherit;
}

/* Contenedores */
.movies-container,
.friends-container,
.discovers-container {
    font-size: 1.0rem;

    position: relative;
    top: -2vh;

    padding-left: 3%;
    padding-right: 3%;

    width: 100%;
}

.userinfo2-movies::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

.userinfo2-movies::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.userinfo2-movies::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-principal);
}

/* --------------------------------------------------------------------------------- */
/* PANTALLAS DEL PERFIL */
.movies-container {
    justify-content: space-evenly;
}
/* Carouseles del perfil */ 
.x-carousel-tittle{
    font-size: 1.2rem;
}
.x-carousel-tittle:hover{
    cursor: default;
    user-select: none;
}
.movies-dinamic-tittle{
    flex-direction: column;
    max-height: calc((100vh / 3) / 3 - 3vh);
}

.x-carousel-tittle .x-tittle {
    text-align: start;
    color: var(--color-text);
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 2.2rem;
    width: 100%;
}
.x-carousel-tittle .x-tittle:hover{
    cursor: default;
    user-select: none;
}
.x-carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(80vh / 3 - 5vh);
}

.carousel-slide {
    min-height: inherit;
    max-width: 90%;
}

.x-carousel-movie {
    flex-direction: column;
    min-height: inherit;
    max-height: calc(80vh / 3 - 5vh);
}

.x-carousel-movie a {
    position: relative;
    min-width: calc(75vw / 6 - 4vw);
    max-height: calc(80vh / 3 - 5vh);
    min-height: inherit;
}

.x-carousel-movie img {
    max-height: calc(80vh / 3 - 5vh);
    min-width: inherit;
}

.x-carousel-rank {
    background-color: var(--color-principal);
    transition: transform 0.3s ease-in-out;
    border-radius: 0 50% 0 0;
    font-size: 1.4rem;

    position: absolute;
    bottom: 0;
    left: 0;

    max-width: 3rem;
    height: 3.75rem;
}

.x-carousel-rank p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.x-carousel-container button {
    background-color: var(--color-principal);
    border: none;
    border-radius: 17%;
    color: var(--color-text);
    cursor: pointer;

    padding: 10px 20px;

    z-index: 100;
}

/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* PANTALLA DE LISTA DE AMIGOS */
/* Grid de Lista de Amigos */
.userinfo2-friends {}

.friends-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Ajuste para asegurar 3 columnas */
    gap: 2vw;
    /* Espacio entre los elementos de la grilla */
    padding: 10px;
    width: 100%;
}

/* Información de amigo */
.data-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: var(--color-background);
    width: calc(100vw / 5);
}

.friend-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

/* Avatar de usuario */
.friend-avatar {
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--color-popupborder);
    border-radius: 50%;
    padding: 1.4%;
    width: 12.5vh;
    height: 12.5vh;
    overflow: hidden;
}

.friend-avatar img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: none;
    max-height: 25vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Nombre y Username */
.friend-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friend-username {
    color: var(--color-text);
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

/* Boton Logout */
.friend-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-top: 10px;
}

.button-delete-friend {
    background-color: var(--color-principal);
    color: var(--color-link);
    padding: 7% 12%;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    margin: 0 auto;
    transform: scale(0.75);
}

.button-delete-friend:hover {
    background-color: var(--color-hover);
}

/* Paginación */
.pagination {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 95%;

    height: 4vh;
    width: 100%;
}

.pagination a {
    background-color: var(--color-principal);
    color: var(--color-text);
    text-decoration: none;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 4vh;
    width: 4vh;

}

.pagination a:hover {
    background-color: var(--color-hover);
}

/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* PANTALLA DE DESCUBRIR AMIGOS */
/* Grid de Lista de Descubrir Amigos */
.discover-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Ajuste para asegurar 3 columnas */
    gap: 2vw;
    /* Espacio entre los elementos de la grilla */
    padding: 10px;
    width: 100%;
}

/* Información de amigo */
.data-discover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: var(--color-background);
    width: calc(100vw / 5);
}

.discover-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

/* Avatar de usuario */
.discover-avatar {
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--color-popupborder);
    border-radius: 50%;
    padding: 1.4%;
    width: 12.5vh;
    height: 12.5vh;
    overflow: hidden;
}

.discover-avatar img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-width: none;
    max-height: 25vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.input-buscar-amigos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

#search-input{
    margin-bottom: 3vh;
}

/* Nombre y Username */
.discover-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discover-username {
    color: var(--color-text);
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.discover-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    margin-top: 10px;
}

.button-add-discover {
    background-color: var(--color-principal);
    color: var(--color-link);
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 15px;
    margin: 0 auto;
    transform: scale(0.75);
}

.button-add-discover:hover {
    background-color: var(--color-hover);
}

.cargar-mas-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------------------------- */

/* BOTON GO TOP */
#myBtn {
    display: none;
    position: fixed;
    bottom: 4%;
    right: 2.5%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--color-principal);
    color: var(--color-link);
    cursor: pointer;
    padding: 1.3%;
    border-radius: 50%;
    font-size: 1.4rem;
}

#myBtn:hover {
    background-color: rgb(88, 0, 139);
}

/* FOOTER */
footer {
    background-color: #080808;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0;
}

.elementos_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementos_footer a{
    height: 100%;
}

.elementos_footer a:hover{
    cursor: pointer;
}

.copyright{
    width: 100%;
    justify-content: right;
}

.footer p {
    margin-bottom: 0;
    padding-left: 1%;
}

.redes_sociales{
    display: flex;
    flex-direction: row;
}

.redes_sociales img{
    height: 3vw;
    width: 3vw;
}


footer div, a, p{
   margin-top: 1%;
}

footer a{
   font-size: 3vh;
}

.info_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25%;
    text-align: center;
}

/* GENERO */
.main-genres {
    min-height: 88vh;
}

.genres-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 85vh;
}

.container-card {
    display: inherit;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    max-height: 85vh;

    overflow-y: scroll;
}

.container-card::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

.container-card::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.container-card::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-principal);
}

.container-card .card {
    background-color: var(--color-transparent);
    color: var(--color-text);
    border-radius: 10px;
    line-height: 5vh;

    display: inherit;
    align-items: center;
    justify-content: center;

    margin: 10px 10px;

    min-width: calc(100vw / 4 - 1vw * .4);
    min-height: 7.5vh;
}

.card-body {
    display: inherit;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    border-radius: 25px;

    min-width: calc(100vw / 5 - 1vw);
    width: 100%;
    min-height: inherit;

    transition: all 0.5s, transform 0.5s ease-in-out;
}

.card-body:hover {
    transform: scale(1.1);

    transition: all .5s;
}

.card-body a {
    background-color: var(--color-principal);
    color: var(--color-text);
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 7.5vh;

    width: 100%;
    height: 100%;

    transition: all 0.5s, transform 0.5s ease-in-out;
}

.card-body a:hover {
    background-color: var(--color-form);
    color: var(--color-link);

    transition: all .5s;
}

/*PELICULAS*/
.crud-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
}

.main-crud{
    padding: 0;
    margin: 0;

}
.ajuste-crud{
    padding-left: .75%;
    padding-right: .75%;
}

.crud {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;

    height: 88vh;
    width: 100%;

    overflow-y: scroll;
}

.crud::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

.crud::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.crud::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-principal);
}
.peliculas-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.pelicula-item {
    position: relative;
    overflow: hidden;
    /* Para que la superposición no se extienda más allá de la imagen */
    padding: 10px;
    width: 100%;
    transition: transform 0.3s ease;
    /* Transición suave para la transformación */
    margin-bottom: 20px;
    /* Espacio entre cada fila de películas */

}

.pelicula-item:hover {
    transform: scale(1.1);
    /* Escala un 10% más grande al pasar el mouse sobre el elemento */
}

.pelicula-item img {
    display: block;
    width: 100%;
    height: auto;
    /* Mantener la proporción de la imagen */
    object-fit: cover;
}



/* ARREGLO DEL MENU*/
.menu__item ul {
    display: none;
    position: absolute;
    top: 9%;
    /* right: 20%;*/
    /* Posicionar el submenú debajo del item principal */
    background-color: #000;
    z-index: 1;
    border-radius: 1%;

}

.menu__item ul li {
    display: block;
    padding: 10px;
}

/* Mostrar el submenú al pasar el ratón sobre el item principal */
.menu__item:hover ul {
    display: block;
}

.menu__item ul li a {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* ARREGLOS DEL MODAL*/
.modal-content label {
    color: var(--color-label);
    /* Cambia el color del texto de los labels */
}

.modal-content h1 {
    color: var(--color-label);
    /* Cambia el color del texto de los labels */
}

.modal-content h2 {
    color: var(--color-form);
    /* Cambia el color del texto de los labels */
}

.modal-title {
    color: var(--color-principal);
}

.modal-content {
    /*background-color: var(--color-form); */
    background-color: #ffffff;
}

.modal-content input {
    background-color: var(--color-input);
}

.modal-content textarea {
    background-color: var(--color-input);
}

.modal-content select {
    background-color: var(--color-input);
}

.guardar {
    background-color: var(--color-principal);
    color: var(--color-text)
}

.salir {
    background-color: var(--color-label);
    color: var(--color-text)
}

.guardar:hover {
    background-color: #8f04a1
}

.salir:hover {
    background-color: #bb2cce
}

.color-titulo-tabla th {
    color: #d03ae4;
}

.btn-color {
    background-color: #d24ce4;
    color: white;
}

.btn-color2 {
    background-color: #b18fb4;
    color: white;
}

.btn-color:hover {

    background-color: #b027c2;
}

.btn-color2:hover {
    background-color: #a979ad;

}

/*ANIMACION DEL H2 DE PELICULAS*/
@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes colorReflectFuchsiaLilac {
    0% {
        color: #FF00FF;
        /* Fuchsia */
        text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF69B4, 0 0 15px #EE82EE;
    }

    25% {
        color: #FF69B4;
        /* Hot Pink */
        text-shadow: 0 0 5px #FF69B4, 0 0 10px #EE82EE, 0 0 15px #DDA0DD;
    }

    50% {
        color: #EE82EE;
        /* Violet */
        text-shadow: 0 0 5px #EE82EE, 0 0 10px #DDA0DD, 0 0 15px #DA70D6;
    }

    75% {
        color: #d184d1;
        /* Plum */
        text-shadow: 0 0 5px #d184d1, 0 0 10px #DA70D6, 0 0 15px #FF00FF;
    }

    100% {
        color: #DA70D6;
        /* Orchid */
        text-shadow: 0 0 5px #DA70D6, 0 0 10px #e24be2, 0 0 15px #FF69B4;
    }
}

.h2-animate {
    display: inline-block;
    animation: slideInFromBottom 1s ease-out forwards, colorReflectFuchsiaLilac 3s infinite;
}

.pi {
    font-size: 3rem;
}

.custom-container {
    display: flex;
    align-items: center;
}

/*ANIMACION DE LOS DIV DEL CRUD*/
.animate-from-bottom {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*ANIMACION DE LOS GENEROS*/

.card {
    opacity: 0;
    animation: slide-in 0.7s forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.card:nth-child(3n+1) {
    animation-delay: 0s;
}

.card:nth-child(3n+2) {
    animation-delay: 0.4s;
}

.card:nth-child(3n+3) {
    animation-delay: 0.8s;
}

.volver-atras {
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.volver-atras a {
    font-size: 2.7rem;
    padding: 2%;
    text-decoration: none;

}

tbody {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.4rem;
}

/* detalle_peli.php */

.container-header-peli {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-header-peli header {
    background-color:#000000; 
  /* background-color: transparent;*/
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 1.8%;

   width: 100%;
   height: 12vh !important;

   z-index: 999;
   margin-bottom: 3vh;

}

.main-detallepeli{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 10px;
}

.contenedor-detalle_peli {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 85%;
    height: inherit;
}

.detallepeli-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(82vh/3*2);
}

.detallepeli-poster img {
    width: 370px;
}

.detallepeli-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
}

.info-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-titulo_titulo {
    display: flex;
    align-items: center;
}

.info-titulo_titulo>h1 {
    font-size: 2.6rem;
    margin: 0;
}

.info-titulo_titulo > h3{
    font-size: 2.8rem;
    margin: 0;
    margin-left: 10px !important;
}

.info-detalles {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.info-detalles>p {
    margin-right: 10px;
}

.info-botones {
    display: flex;
    margin-bottom: 30px;
}

.info-botones>div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.info-boton {
    border: none;
    padding: 18px 21px;
    background-color: #A105B6;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
    transition: background-color .4s ease;
}

.info-boton:hover {
    background-color: #7c0989;
}

.boton-play>i {
    font-size: 30px;
}

.existe {
    background-color: #212121;
    color: #fff;

}

.info-descripcion {
    margin: 10px 0;
}

.info-elenco {
    display: flex;
    margin: 10px 0;
}

.elenco-actores {
    margin-left: 50px;
}

.star-rating {
    direction: rtl;
    display: flex;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 35px;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.star-rating input:checked~label,
.star-rating input:hover~label {
    color: #f2b600;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #f2b600;
}

.botonEstrellas {
    visibility: hidden;
    opacity: 0;
    background-color: #A105B6;
    color: #fff;
    border: none;
    border-radius: 25%;
    padding: 5px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.botonEstrellas.botonVisible {
    visibility: visible;
    opacity: 1;
}

.contenedor-estrellas {
    display: flex;
    flex-direction: column;
}

.contenedor-estrellas>div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.contenedor-estrellas>div p {
    font-size: 22px;
    margin-left: 5px;
}

.estrella {
    color: #f2b600;
}

.modal-body-amigos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contenedor-amigo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    margin: 5px;

}

.amigo-imagen{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amigo-imagen img{
    width: 70px;
}

.amigo-nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.amigo-nombre > h2{
    color: var(--color-text);
    font-size: 1.6rem;
    margin-bottom: 4px;
}

.amigo-nombre > button{
    background-color: #A105B6;
    color: #fff;
    border: none;
    padding: 2px;
    font-size: 18px;
    cursor:pointer;
}

.recomendar-peli-content{
    background-color: var(--color-background) !important;
}

.recomendar-peli-header h1{
    font-size: 2.2rem !important;
}


.info-boton {
    /* Tus estilos existentes */
    position: relative; /* Añadir para que el tooltip se posicione correctamente */
}

/* Estilo del texto del tooltip */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Posicionar arriba del botón */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Flecha del tooltip */
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Mostrar el tooltip al hacer hover */
.info-boton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



@media screen and (max-width: 840px) {

    .contenedor-detalle_peli {
        flex-direction: column;
        height: auto;
    }

    .main-detallepeli {
        flex-direction: column;
        height: auto;
    }

    .detallepeli-poster {
        height: auto;
        margin-top: 10px;
        margin-bottom: 40px;
        width: 100%;
    }

    .detallepeli-poster img {
        width: 200px;
    }

    .info-titulo {
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }

    .detallepeli-info {
        margin-left: 0;
    }

    .contenedor-estrellas {
        margin: 20px 0;
        justify-content: left;
    }


}

/*FOOTER PARA CRUD*/
.p {
    margin-top: 1%;

}


/*arreglos para los modales*/
.oculto {
    display: none;
}

.form-check-input:hover {
    cursor: pointer;
}

/*arreglo generos*/
.contenedor-horizontal {}

.volver-atras {
    /* margin-right: 20px; /* Espacio entre el enlace y el formulario */
}

.formulario {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.formulario input[type="checkbox"] {
    margin-right: 5px;
    /* Espacio entre el checkbox y el label */
    width: 1.5rem;
    /* Ancho del checkbox */
    height: 1.5rem;
    /* Alto del checkbox */
}


/*detalle peli*/
.imagen-deslizar {
    transition: transform 0.3s ease;
}

.imagen-deslizar:hover {
    transform: translateY(-10px);
    /* Desliza la imagen hacia arriba 10px */
}

/*arreglo notificaciones*/
.container .notificaciones-main {
    flex-direction: row;

    width: 100%;
    height: 88vh;

    z-index: 1;
}
.notif{
    width: 50%;
    height: 88vh;
    padding: 5vh;
    padding-left: 6vw;
}
.contact{
    font-size: 1.6rem;
    display: flex;
    align-items: start;
    justify-content: center;
    
    width: 50%;
    height: 88vh;
    padding: 5vh;
    padding-top: 10vh;
}

.notificaciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

.notificacion {
    background-color: #1e1e1e;
    color: #ffffff;
    width: 800px;
    max-width: 100%; /* Para que se ajuste al ancho del contenedor padre */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Mantenemos la posición relativa para los elementos hijos */
}

.notificacion .mensaje {
    font-size: 1.1em;
    margin: 0 0 5px 0;
}

.notificacion .fecha {
    font-size: 0.9em;
    color: #bbbbbb;
    text-align: right;
}

.cerrar-notificacion {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vh; /* Ajusta la alineación a la derecha */
    background-color: transparent;
    border: none;
    color:#bebebe;
    cursor: pointer;
    padding: 5px;
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
}

.cerrar-notificacion:hover {
    color: var(--color-principal);
}

.contacto {
    color: var(--color-text);
    text-transform: uppercase;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 50vh;

    z-index: 1;
}

.contacto a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
    color: var(--color-text);
    width: 25%;
    margin-top: 30px;
}

.contacto:hover {
    cursor: default;
}

.contacto a:hover {
    color: var(--color-principal);
    cursor: pointer;
    transition: all .5s;
}

.ver {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7rem;
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    right: 12vh; /* Alinea a la derecha, ajusta según necesites */
    background-color: transparent;
    border: none;
    color:#bebebe;
    cursor: pointer;
    padding: 5px;
}

.ver:hover {
    color: var(--color-principal);
}

.not {
    display: flex;
}

.contenido-notificacion {
    display: flex;
    align-items: center;
    
}
.botones-solicitud{
  
}
.botones-solicitud button {
    margin-left: 2vh;
    color:#bebebe;
    font-size: 1.3rem;
    border: none;
    background-color:transparent;
    border-radius: 3%;
    max-width: 10vh; /* Establece un ancho máximo para los botones */
    flex-grow: 1; /* Permite que los botones se ajusten automáticamente */
    cursor: pointer;
}

.botones-solicitud button:hover {
    color: var(--color-principal);
}



/*visualizar pelicula*/

.video-container {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.video-container video {
    height: 90%;
    width: 80%;
    object-fit: fill;
    border-radius: 8px;
}

.volverAdetalles {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.volverAdetalles a{
    font-size: 2.5rem;
    padding: 1%;
    text-decoration: none;
    
}
.genero-mensaje{
    font-size: 2.5vh;
    margin-bottom: 2vh;
}
.mensaje-exito{
    font-size: 2.2vh;
}



/*Resumen perfil*/


/*verMasTardePerfil*/

.contenedor-principal-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contenedor-principal-main h2{
    margin-bottom:50px;
    font-size: 3.4rem;
}

.contenedor-peliculas{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
} 

.contenedor-peliculas a img{
    width: 200px;
}







